body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;

}

.nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
}

.product {
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    background-color: white;
}

img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
    width: 80%;
}

.product-image,
.product-info {
    margin-top: 10px;
    width: 50%;
}

.color-box {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.cart {
    margin-right: 25px;
    float: right;
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
    position: fixed;
    background: azure;
    width: 75px;
    box-shadow: 0px .5px 1px #d8d8d8;
}
/* Кнопки начало*/
button {
    border: 1px solid black;
    padding: 12px 30px 12px 30px;
    border-radius: 30px;
    background-color: green;
    font-weight: bolder;
    font-size: 15px;
    -webkit-box-shadow: 0px 0px 1px;
    box-shadow: 0px 0px 1px;
    -webkit-transform: all 2s esase;
    -ms-transform: all 2s esase;
    transform: all 2s esase;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

button:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-box-shadow: 0px 7px 1px rgb(0, 0, 0);
    box-shadow: 0px 7px 1px rgb(0, 0, 0);
    border: 1px solid black;
}

button:active {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-box-shadow: 0px 0px 1px;
    box-shadow: 0px 0px 1px;
}
.disabledButton {
    background-color: #d8d8d8;
}
.deleteFromCart{
    width: 140px;
    height: 50px;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
}
.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.deleteFromCart:hover {
    width: 150px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
}

.deleteFromCart:hover .svgIcon {
    display: none;
    transition-duration: .3s;
    transform: translateY(60%);
}

.deleteFromCart::before {
    position: relative;
    content: "Cancel";
    color: white;
    transition-duration: .3s;
    font-size: 0px;
}

.deleteFromCart:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}
/* Кнопки конец*/
.review-form {
    width: 400px;
    padding: 20px;
    margin: 40px;
    border: 1px solid #d8d8d8;
}

input {
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 60px;
}

.tab {
    margin-left: 20px;
    cursor: pointer;
}

.activeTab {
    color: #16C0B0;
    text-decoration: underline;
}

.outOfStock{
    text-decoration: line-through;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1D22;
}
button{
    padding: 10px;
}
.notifications{
    position: fixed;
    top: 30px;
    right: 20px;
}
.toast{
    position: relative;
    padding: 10px;
    color: #fff;
    margin-bottom: 10px;
    width: 400px;
    display: grid;
    grid-template-columns: 70px 3fr 70px;
    border-radius: 5px;
    --color: #f24d4c;
    background-image:
            linear-gradient(
                    to right, #f24d4c55, darkred 30%
            );
    animation: show 0.3s ease 1 forwards;
    list-style-type: none;
}
.toast i{
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}
.toast .title{
    font-size: x-large;
    font-weight: bold;
}
.toast span, .toast i:nth-child(3){
    color: #fff;
    opacity: 0.6;
}
@keyframes show{
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-5%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10%);
    }
}
.toast::before{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    width: 100%;
    height: 3px;
    content: '';
    box-shadow: 0 0 10px var(--color);
    animation: timeOut 2s linear 1 forwards
}
@keyframes timeOut{
    to{
        width: 1px;
    }
}
/* Основные стили для модального окна */
.modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; /
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

/* Стили для кнопки закрытия */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


h2 {
    margin: 0;
}


p {
    margin: 10px 0;
}